* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(28 28 28);
  color: rgb(205 205 205);
  overflow-y: auto;
}

.counter {
  height: 50%;
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  border: 0.2rem solid rgb(131 91 128);

  .count {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .controls {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
      font-size: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: rgb(131 91 128);
      font-weight: bold;
    }
  }
}

.grudges {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;
  min-width: 400px;
  margin-top: 2rem;

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    max-height: 90vh;
    overflow-y: auto;
  }

  .grudge {
    padding: 1rem;
    border: 1px solid rgb(131 91 128);
    width: 100%;
  }
}
